.Board {
    width: 800px;
    height: 800px;
    margin: 0px;
}

.row {
    height: 100px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Even .col {
    padding: 0px;
    border: 1px solid black;
}

.Even.col:nth-child(even) {
    background: tan;
}

.Odd .col {
    padding: 0px;
    border: 1px solid black;
}

.available {
    background-color: green;
    opacity: 0.5;
}